# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars          # if you put any secrets/account-specific values in tfvars files
crash.log
*.tfplan
tfplan
plan.txt
*.tfstate.*

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/
build/

# Env files
.env
.env.local

# OS/editor cruft
.DS_Store
.vscode/

migration-network.json
migration-overrides.json
upload-test.json

apilog.txt
log.txt
body.json
backend/api/body.json
backend/api/test.md
